
  </main>
  <footer>
    <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJS6udO9o1Yg0R44ELrHKofR0&key=AIzaSyBGYN63Nou7olyRe0ePvLYl_3xoMrvJlJ8" allowfullscreen></iframe>
    <div>
      <ul>
        <li> twitter </li>
        <li> facebook </li>
        <li> pintrest </li>
      </ul>
      <ul>
        <li> h5 </li>
        <li> instagram </li>
        <li> myspace </li>
      </ul>
    </div>
  </footer>
  </div>
  </body>
  </html>

